<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

      <div class="MainBody">
          <div class="header" >
           <h3>This is header </h3>
          </div>
          <div class="left">
          <h4>Left</h4>
          <h5>Content</h5>
          </div>
          <div class="center">
          <h1>Center Content</h1>
          </div>
          <div class="right">
          <h2>Right Content</h2>
          </div>
          <div class="footer">
          <h3>Footer</h3>
          </div>
          </div>
  
  </body>
</html>


<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAEelPuMxQw72MR61zx-VasdMI_f6s5zrM",
    authDomain: "adminsite-32b44.firebaseapp.com",
    databaseURL: "https://adminsite-32b44.firebaseio.com",
    projectId: "adminsite-32b44",
    storageBucket: "adminsite-32b44.appspot.com",
    messagingSenderId: "826040507808"
  };
  firebase.initializeApp(config);
</script>